<head>
  <style>
    .hover-pointer:hover {
      cursor: pointer;
    }
  </style>
</head>

<div class="flex justify-center flex-col items-center">
  <h1 class="my-5 text-xl p-3 rounded-md">ユーザー情報編集画面</h1>

  <div class="flex flex-col text-center bg-white rounded-md p-3 pb-6", style="width: 40%;">
    <%= form_with(model: @user, local: true, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name, 'ユーザーネーム' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", style: 'width: 100%;' %>
      </div>

      <div class="field">
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'width: 100%;' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, 'パスワード' %> <br /><div class="bg-yellow-200 mb-1 text-xs">変更したくない場合は<span class="inline-block">空白のままにしてください</span></div>
        <%= f.password_field :password, autocomplete: "new-password", style: 'width: 100%;' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> 文字以上必須</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", style: 'width: 100%;' %>
      </div>

      <div class="field">
        <%= f.label :current_password, 'パスワード確認' %> <div class="bg-yellow-200 mb-1 text-xs">現在のパスワードを<span class="inline-block">入力してください</span></div>
        <%= f.password_field :current_password, autocomplete: "current-password", style: 'width: 100%;' %>
      </div>

      <div class="actions flex flex-col">
        <span class="inline-block rounded-lg bg-pink-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 mt-3 hover:bg-pink-600 focus-visible:ring active:bg-pink-700 md:text-base"><%= f.submit "更新", class: 'hover-pointer' %><span>
      </div>
    <% end %>

    <span class="inline-block rounded-lg bg-pink-500 py-3 text-center text-xs sm:text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 mt-3 hover:bg-pink-600 focus-visible:ring active:bg-pink-700 md:text-base"><%= button_to "ユーザー情報を削除", registration_path(resource_name), data: { confirm: "ユーザー情報が完全に削除されます。よろしいですか?", turbo_confirm: "ユーザー情報が完全に削除されます。よろしいですか?" }, method: :delete %></span>

    <span class="inline-block rounded-lg bg-pink-500 px-1 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 mt-3 hover:bg-pink-600 focus-visible:ring active:bg-pink-700 md:text-base"><%= link_to "トップへもどる", :back %></span>
  </div>
</div>
