<%- if controller_name != 'sessions' %>
  <span class="inline-block rounded-lg bg-pink-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 mt-3 hover:bg-pink-600 focus-visible:ring active:bg-pink-700 md:text-base">
    <%= link_to "ログインページ", new_session_path(resource_name) %><br />
  </span>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span class="inline-block rounded-lg bg-pink-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 mt-3 hover:bg-pink-600 focus-visible:ring active:bg-pink-700 md:text-base">
    <%= link_to "サインアップページ", new_registration_path(resource_name) %><br />
  </span>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <span class="inline-block rounded-lg bg-pink-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 mt-3 hover:bg-pink-600 focus-visible:ring active:bg-pink-700 md:text-base">
    <%= link_to "パスワードを忘れた場合はコチラ", new_password_path(resource_name) %><br />
  </span>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
  <% end %>
<% end %>
