<div class="mx-1 my-5 font-bold text-xl flex justify-center"><%= link_to @user.name, user_path(@user) %>さんのページ</div>
<div class="flex justify-between grid-flow-col m-1">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% @images.each do |image| %>
      <div class="col-span-1">
        <a href="<%= image_path(image) %>" class="block overflow-hidden rounded-lg">
          <%= image_tag(image.image, class:"transition duration-200 hover:scale-110") %>
        </a>
        <div class="flex justify-between">
          <div class="text-gray-800 flex flex-col items-end">作成日時：<%= l image.created_at %></div>
        </div>
        <div class="text-xs sm:text-sm bg-pink-100 mt-2 py-3 px-2 font-bold text-gray-800 rounded-sm lg:text-lg text-nowrap overflow-x-auto shadow shadow-slate-500"><%= image.word_chain.gsub(",", " ▷ ") %></div>
      </div>
    <% end %>
  </div>
</div>
<div class="flex justify-center my-2">
  <%= pagy_nav(@pagy, class: 'pagy_nav').html_safe %>
</div>
