<div class="mx-1 my-5 font-bold text-xl flex justify-center"><%= link_to @images[0].user.name, user_path(@images[0].user.id) %>さんのページ</div>
<div class="flex justify-between grid-flow-col m-1">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% @images.each do |image| %>
      <div class="col-span-1">
        <a href="<%= image_path(image) %>">
          <%= image_tag(image.image) %>
        </a>
        <% if user_signed_in? %>
          <% if current_user.id == image.user_id %>
            <div><%= link_to '削除', image_path(image), data: { turbo_confirm: '本当に削除しますか？', turbo_method: :delete } ,class: "inline-block rounded-lg bg-red-500 px-8 py-3 my-1 text-center text-sm font-semibold text-white outline-none ring-red-300 transition duration-100 hover:bg-red-600 focus-visible:ring active:bg-red-700 md:text-base"%></div>
          <% end %>
        <% end %>
        <div class="text-xs sm:text-sm bg-pink-100 mt-2 py-3 px-2 font-bold text-gray-800 rounded-sm lg:text-lg text-nowrap overflow-x-auto"><%= image.word_chain.gsub(",", " ▷ ") %></div>
      </div>
    <% end %>
  </div>
</div>
<div class="flex justify-center my-2">
  <%= pagy_nav(@pagy, class: 'pagy_nav').html_safe %>
</div>
