<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-6 flex items-end justify-between gap-4">

      <%# <a href="#" class="inline-block rounded-lg border bg-white px-4 py-2 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:px-8 md:py-3 md:text-base">Show more</a> %>
    </div>

    <div class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
      <!-- product - start -->
      <% @galleries.each do |img| %>
        <% if img.image.attached? %>
          <div>
            <a href="<%= image_path(img) %>" class="group relative mb-2 block h-80 overflow-hidden rounded-lg bg-gray-100 lg:mb-3">

              <%= image_tag img.image, class: "h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" %>
            </a>

            <div>
              <div class="flex justify-between">
                <p class="px-2 rounded-md mb-1 text-gray-500 hover:text-gray-900 transition duration-100 lg:text-lg"><%= link_to "作者：#{img.user.name}", user_path(img.user.id) %></p>
                <div class="text-gray-500 flex flex-col items-end">作成日時：<%= l img.created_at %></div>
              </div>
              <div class="flex items-end gap-2">
                <span class="text-xs sm:text-sm bg-pink-100 mt-2 py-3 px-2 font-bold text-gray-800 rounded-sm lg:text-lg shadow shadow-slate-500"><%= img.word_chain.gsub(",", " ▷ ") %></span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- product - end -->
    </div>
  </div>
</div>
<div class="flex justify-center my-2">
  <%= pagy_nav(@pagy, class: 'pagy_nav').html_safe %>
</div>
