<!DOCTYPE html>
<html>
  <head>
    <title>WordChainImageGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=RocknRoll+One&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <!-- Open Graph tags -->
    <meta property="og:title" content="しりとり画像ジェネレーター" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://word-chain-image-generator.onrender.com" />
    <meta property="og:image" content="https://word-chain-image-generator.onrender.com/images/word_chain_image_generator.jpg" />
    <meta property="og:description" content="しりとりで画像生成を楽しもう" />
    <meta property="og:site_name" content="word_chain_image_generator" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tairanobuhiko" />
    <meta name="twitter:title" content="しりとり画像ジェネレーター" />
    <meta name="twitter:description" content="しりとりで画像生成を楽しもう" />
    <meta name="twitter:image" content="https://word-chain-image-generator.onrender.com/images/word_chain_image_generator.jpg" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="640x640">
  </head>

  <body>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
